<footer class="footer">
    <div class="social__media service-icons">
      <a href="https://www.linkedin.com/in/bruno-corrao/" target="_blank" rel="noreferrer" title="LinkedIn" aria-label="LinkedIn" class="social__media__link"><i class="fa-brands fa-linkedin"></i></a>
      <a href="https://github.com/imnotseneca" target="_blank" rel="noreferrer" title="Github" aria-label="GitHub" class="social__media__link"><i class="fa-brands fa-github"></i></a>
      <a href="https://twitter.com/plasticfaceyoda" target="_blank" rel="noreferrer" title="Twitter" aria-label="Twitter" class="social__media__link"><i class="fa-brands fa-twitter"></i></a>
    </div>
    <p class="copy__right">
      '2023' © All rights reserved.
    </p>
  </footer>
</div>
  <script src="js/main.js"></script> 
  <script src="https://kit.fontawesome.com/be727bc14f.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>
</html>