<section class="project-section" id="projects">
    <h2>Latest projects</h2>
    <div class="project-section-container">
      <div class="project-section-left">
        <div class="project-section-container-left">
          <div class="project-section-left-image"> 
              <img src="/img/veganheader.png" alt="Header of webpage project">
            </a>
          </div>
          <h4>Vegan Paradise.</h4>
          <p>Built with: <br> HTML & CSS <br> and JS vanilla.</p>
          <div class="btn btn-visit">
            <a href="https://veganparadise.netlify.app/">View site</a>
          </div>
          <div class="container__repo">
            <a href="https://github.com/imnotseneca/veganParadise"><i class="fa-brands fa-github"></i>View repository</a>
          </div>
        </div>
        <div class="project-section-container-left">
          <div class="project-section-left-image"> 
              <img src="/img/CdCHeader.png" alt="Header of webpage project">
            </a>
          </div>
          <h4>Casa de Chivilcoy</h4>
          <p>Built with: <br> HTML & CSS + Bootstrap 5 <br> and JS vanilla.</p>
          <div class="btn btn-visit">
            <a href="https://casadechivilcoy.netlify.app/">View site</a>
          </div>
          <div class="container__repo">
            <a href="https://github.com/imnotseneca/casadechivilcoy"><i class="fa-brands fa-github"></i>View repository</a>
          </div>
        </div>
      </div>
      <div class="project-section-right">
        <div class="project-section-container-right">
          <div class="project-section-right-image"> 
              <img src="/img/gsheader.png" alt="Header of webpage project">
            </a>
          </div>
          <h4>GS-flexibility</h4>
          <p>Built with: <br> HTML & CSS + Bootstrap 5 + AOS <br> and JS vanilla.</p>
          <div class="btn btn-visit">
            <a href="https://imnotseneca.github.io/gs-flexibility/">View site</a>
          </div>
          <div class="container__repo">
            <a href="https://github.com/imnotseneca/gs-flexibility"><i class="fa-brands fa-github"></i>View repository</a>
          </div>
        </div>
        <div class="project-section-right">
          <div class="project-section-container-right">
            <div class="project-section-right-image"> 
                <img src="/img/sbHeader.png" alt="Header of webpage project">
              </a>
            </div>
            <h4>Story-Book</h4>
            <p>Fullstack CRUD webapp with Node.js, Express, JS, Handlebars, Materialize UI and GoogleOAUTH. Based on <a href="https://github.com/bradtraversy">Traversy Media</a> work.</p>
            <div class="btn btn-visit">
              <a href="https://story-book.onrender.com/">View site</a>
            </div>
            <div class="container__repo">
              <a href="https://github.com/imnotseneca/storybook"><i class="fa-brands fa-github"></i>View repository</a>
            </div>
          </div>
      </div>
    </div>
  </section>
