<%- include('partials/header') -%>
            <main>  
                  <section class="home__about" id="home">
                    <div class="home__container">
                        <h1 class="about-title">About me</span>
                        </h1>
                        <p>
                            My name is <span class="styled-words">Bruno</span>. I'm a passionate <span class="styled-words">software developer</span> from Argentina. 
                            <br>
                            Programming have always been something that got my attention, I used to wonder how things work when I was a child while interacting with different technologies.
                            <br>
                            I consider myself a <span class="styled-words">creative person</span> with a growth mindset, constantly looking for ways to <span class="styled-words">develop knowledge and learn new skills</span>.
                            <br>                            
                            When I'm not coding I spend my time outdoors, enjoying sun and fresh air. I like to handstand and eat vegan food. 
                        </p>
                    </div>
                    <a href="img/BCdevCV.docx.pdf" class="btn cv-btn">RESUME</a>
                </section>
            </main>
            <section class="service-section" id="services">
              <h2>Services</h2>
              <section class="service-section-container">
                <div class="service-section-container-left">
                  <div class="service-section-left">
                    <div class="service-icons special-one">
                      <i class="fa-solid fa-terminal"></i>
                    </div>
                    <div class="service-text-container">
                      <h4 class="service-h4">Web App Development</h4>
                      <p class="service-p">Front and back-end web design & development, from wireframes and UI/UX design, to Full Stack Web Applications.</p>
                    </div>
                  </div>
                  <div class="service-section-left">
                    <div class="service-icons">
                      <i class="fa-solid fa-mobile-screen-button"></i>
                    </div>
                    <div class="service-text-container">
                      <h4 class="service-h4">Responsive Design</h4>
                      <p class="service-p">Built to look and perform beautifully on all types of devices, with a page structure that is logical and helps users (and search engines) browse efficiently.</p>
                    </div>
                  </div>
                </div>
                 <div class="service-section-container-right">
                  <div class="service-section-right">
                    <div class="service-icons">
                      <i class="fa-solid fa-eye"></i>
                    </div>
                    <div class="service-text-container">
                      <h4 class="service-h4">UI/UX Design</h4>
                      <p class="service-p">Human-centered approach to all design decisions so that products feel custom built for the target audience and is easy-to-navigate.</p>
                    </div>
                  </div>
                  <div class="service-section-right">
                    <div class="service-icons">
                      <i class="fa-solid fa-comment"></i>
                    </div>
                    <div class="service-text-container">
                      <h4 class="service-h4">Support and Feedback</h4>
                      <p class="service-p">Fully committed to bring backup solutions, periodic updates and fast support when it's needed.</p>
                    </div>
                  </div>
                </div>
              </section>
            </section>
            <%- include('partials/projects') -%>
            <%- include('partials/footer') -%>