<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="https://kit.fontawesome.com/be727bc14f.css" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@400;500;600;700&family=Titillium+Web:wght@400;700&display=swap" rel="stylesheet"/>
    <title>Bruno Corrao's Portfolio.</title>
</head>
<body>
    <div class="container">
        <!-- Header and Nav-bar -->
        <header>
            <div class="header-flex">
                <div class="logo">
                    <a href="#">
                     <!-- <img src="" alt="Logo"> El logo podría ser un imagen clickeable, pero por ahora lo soluciono con text plano-->BC
                    </a>
                    </div>
                    <!-- Logo ends -->
                    <!-- Hamburger menu starts -->
                    <button class="hamburger">
                      <div class="line"></div>
                      <div class="line short-line"></div>
                      <div class="line"></div>
                      <div class="line short-line"></div>
                    </button>
                    <!-- Hamburger menu ends -->
                    <!-- navigation starts -->
                    <nav class="nav-bar">
                      <ul class="nav-menu">
                        <li>
                          <a href="/" class="nav-item active"
                            ><i class="fa-solid fa-house"></i><span class="border-bot">Home</span></a
                          >
                        </li>
                        <li>
                          <a href="/aboutme" class="nav-item"
                            ><i class="fa-solid fa-user"></i><span class="border-bot">About me</span></a
                          >
                        </li>
                        <li>
                          <a href="/aboutme#services" class="nav-item"
                            ><i class="fa-solid fa-code"></i><span class="border-bot">What I do</span></a
                          >
                        </li>
                        <li>
                          <a href="/aboutme#projects" class="nav-item"
                            ><i class="fa-solid fa-briefcase"></i><span class="border-bot">Latest projects</span></a
                          >
                        </li>
                        <li>
                          <a href="/contact" class="nav-item"
                            ><i class="fa-solid fa-envelope"></i><span class="border-bot">Get in touch</span></a
                          >
                        </li>
                      </ul>
                    </nav>
                    <!-- navigation end -->
                  </div>
        </header>
                <main>  
                  <section class="home__about" id="home">
                    <div class="home__container">
                        <h1 class="about-title">About me</span>
                        </h1>
                        <p>
                            My name is <span class="styled-words">Bruno</span>. I'm a passionate <span class="styled-words">software developer</span> from Argentina. 
                            <br>
                            Programming have always been something that got my attention, I used to wonder how things work when I was a child while interacting with different technologies.
                            <br>
                            I consider myself a <span class="styled-words">creative person</span> with a growth mindset, constantly looking for ways to <span class="styled-words">develop knowledge and learn new skills</span>.
                            <br>                            
                            When I'm not coding I spend my time outdoors, enjoying sun and fresh air. I like to handstand and eat vegan food. 
                        </p>
                    </div>
                    <a href="/aboutme" class="btn cv-btn">RESUME</a>
                </section>
            </main>
            <section class="service-section" id="services">
              <h2>Services</h2>
              <section class="service-section-container">
                <div class="service-section-container-left">
                  <div class="service-section-left">
                    <div class="service-icons special-one">
                      <i class="fa-solid fa-terminal"></i>
                    </div>
                    <div class="service-text-container">
                      <h4 class="service-h4">Web App Development</h4>
                      <p class="service-p">Front and back-end web design & development, from wireframes and UI/UX design, to Full Stack Web Applications.</p>
                    </div>
                  </div>
                  <div class="service-section-left">
                    <div class="service-icons">
                      <i class="fa-solid fa-mobile-screen-button"></i>
                    </div>
                    <div class="service-text-container">
                      <h4 class="service-h4">Responsive Design</h4>
                      <p class="service-p">Built to look and perform beautifully on all types of devices, with a page structure that is logical and helps users (and search engines) browse efficiently.</p>
                    </div>
                  </div>
                </div>
                 <div class="service-section-container-right">
                  <div class="service-section-right">
                    <div class="service-icons">
                      <i class="fa-solid fa-eye"></i>
                    </div>
                    <div class="service-text-container">
                      <h4 class="service-h4">UI/UX Design</h4>
                      <p class="service-p">Human-centered approach to all design decisions so that products feel custom built for the target audience and is easy-to-navigate.</p>
                    </div>
                  </div>
                  <div class="service-section-right">
                    <div class="service-icons">
                      <i class="fa-solid fa-comment"></i>
                    </div>
                    <div class="service-text-container">
                      <h4 class="service-h4">Support and Feedback</h4>
                      <p class="service-p">Fully committed to bring backup solutions, periodic updates and fast support when it's needed.</p>
                    </div>
                  </div>
                </div>
              </section>
            </section>
            <section class="project-section" id="projects">
              <h2>Latest projects</h2>
              <div class="project-section-container">
                <div class="project-section-left">
                  <div class="project-section-container-left">
                    <div class="project-section-left-image"> 
                        <img src="/img/veganheader.png" alt="Header of webpage project">
                      </a>
                    </div>
                    <h4>Vegan Paradise.</h4>
                    <p>Built with: <br> HTML & CSS <br> and JS vanilla.</p>
                    <div class="btn btn-visit">
                      <a href="https://veganparadise.netlify.app/">View site</a>
                    </div>
                    <div class="container__repo">
                      <a href="https://github.com/imnotseneca/veganParadise"><i class="fa-brands fa-github"></i>View repository</a>
                    </div>
                  </div>
                  <div class="project-section-container-left">
                    <div class="project-section-left-image"> 
                        <img src="/img/CdCHeader.png" alt="Header of webpage project">
                      </a>
                    </div>
                    <h4>Casa de Chivilcoy</h4>
                    <p>Built with: <br> HTML & CSS + Bootstrap 5 <br> and JS vanilla.</p>
                    <div class="btn btn-visit">
                      <a href="https://casadechivilcoy.netlify.app/">View site</a>
                    </div>
                    <div class="container__repo">
                      <a href="https://github.com/imnotseneca/casadechivilcoy"><i class="fa-brands fa-github"></i>View repository</a>
                    </div>
                  </div>
                </div>
                <div class="project-section-right">
                  <div class="project-section-container-right">
                    <div class="project-section-right-image"> 
                        <img src="/img/gsheader.png" alt="Header of webpage project">
                      </a>
                    </div>
                    <h4>GS-flexibility</h4>
                    <p>Built with: <br> HTML & CSS + Bootstrap 5 + AOS <br> and JS vanilla.</p>
                    <div class="btn btn-visit">
                      <a href="https://imnotseneca.github.io/gs-flexibility/">View site</a>
                    </div>
                    <div class="container__repo">
                      <a href="https://github.com/imnotseneca/gs-flexibility"><i class="fa-brands fa-github"></i>View repository</a>
                    </div>
                  </div>
                  <div class="project-section-right">
                    <div class="project-section-container-right">
                      <div class="project-section-right-image"> 
                          <img src="/img/sbHeader.png" alt="Header of webpage project">
                        </a>
                      </div>
                      <h4>Story-Book</h4>
                      <p>Fullstack CRUD webapp with Node.js, Express, JS, Handlebars, Materialize UI and GoogleOAUTH. Based on <a href="https://github.com/bradtraversy">Traversy Media</a> work.</p>
                      <div class="btn btn-visit">
                        <a href="https://story-book.onrender.com/">View site</a>
                      </div>
                      <div class="container__repo">
                        <a href="https://github.com/imnotseneca/storybook"><i class="fa-brands fa-github"></i>View repository</a>
                      </div>
                    </div>
                </div>
              </div>
            </section>
            <footer class="footer">
              <div class="social__media service-icons">
                <a href="https://www.linkedin.com/in/bruno-corrao/" target="_blank" rel="noreferrer" title="LinkedIn" aria-label="LinkedIn" class="social__media__link"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://github.com/imnotseneca" target="_blank" rel="noreferrer" title="Github" aria-label="GitHub" class="social__media__link"><i class="fa-brands fa-github"></i></a>
                <a href="https://twitter.com/plasticfaceyoda" target="_blank" rel="noreferrer" title="Twitter" aria-label="Twitter" class="social__media__link"><i class="fa-brands fa-twitter"></i></a>
              </div>
              <p class="copy__right">
                '2023' © All rights reserved.
              </p>
            </footer>
          </div>
            <script src="js/main.js"></script> 
            <script src="https://kit.fontawesome.com/be727bc14f.js" crossorigin="anonymous"></script>
        </body>
        </html>