<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="https://kit.fontawesome.com/be727bc14f.css" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@400;500;600;700&family=Titillium+Web:wght@400;700&display=swap" rel="stylesheet"/>
    <title>Bruno Corrao's Portfolio.</title>
</head>
<body>
    <div class="container">
        <!-- Header and Nav-bar -->
        <header>
            <div class="header-flex">
                <div class="logo">
                    <a href="#">
                     <!-- <img src="" alt="Logo"> El logo podría ser un imagen clickeable, pero por ahora lo soluciono con text plano-->BC
                    </a>
                    </div>
                    <!-- Logo ends -->
                    <!-- Hamburger menu starts -->
                    <button class="hamburger">
                      <div class="line"></div>
                      <div class="line short-line"></div>
                      <div class="line"></div>
                      <div class="line short-line"></div>
                    </button>
                    <!-- Hamburger menu ends -->
                    <!-- navigation starts -->
                    <nav class="nav-bar">
                      <ul class="nav-menu">
                        <li>
                          <a href="/" class="nav-item active"
                            ><i class="fa-solid fa-house"></i><span class="border-bot">Home</span></a
                          >
                        </li>
                        <li>
                          <a href="/aboutme" class="nav-item"
                            ><i class="fa-solid fa-user"></i><span class="border-bot">About me</span></a
                          >
                        </li>
                        <li>
                          <a href="/aboutme#services" class="nav-item"
                            ><i class="fa-solid fa-code"></i><span class="border-bot">What I do</span></a
                          >
                        </li>
                        <li>
                          <a href="/#projects" class="nav-item"
                            ><i class="fa-solid fa-briefcase"></i><span class="border-bot">Latest projects</span></a
                          >
                        </li>
                        <li>
                          <a href="/contact" class="nav-item"
                            ><i class="fa-solid fa-envelope"></i><span class="border-bot">Get in touch</span></a
                          >
                        </li>
                      </ul>
                    </nav>
                    <!-- navigation end -->
                  </div>
        </header>
        <main>
            <section class="home" id="home">
                <div class="home__container">
                    <h1 class="home-title">Hi👋! I'm <span class='styled-words'>Bruno Corrao</span>.
                        <br>
                    Fullstack software developer.
                    </h1>
                    <p class="styled__par">Changing the world <span class="styled-words">1 line of code</span> at a time.</p>
                    <a href="/aboutme" class="btn">About me</a>
                </div>
                <div class="home__profile__photo">
                    <img src="img/profilepic.png" alt="Profile picture" class="profile__photo">
                </div>
            </section>
        </main>
        <section class="project-section" id="projects">
            <h2>Latest projects</h2>
            <div class="project-section-container">
              <div class="project-section-left">
                <div class="project-section-container-left">
                  <div class="project-section-left-image"> 
                      <img src="/img/veganheader.png" alt="Header of webpage project">
                    </a>
                  </div>
                  <h4>Vegan Paradise.</h4>
                  <p>Built with: <br> HTML & CSS <br> and JS vanilla.</p>
                  <div class="btn btn-visit">
                    <a href="https://veganparadise.netlify.app/">View site</a>
                  </div>
                  <div class="container__repo">
                    <a href="https://github.com/imnotseneca/veganParadise"><i class="fa-brands fa-github"></i>View repository</a>
                  </div>
                </div>
                <div class="project-section-container-left">
                  <div class="project-section-left-image"> 
                      <img src="/img/CdCHeader.png" alt="Header of webpage project">
                    </a>
                  </div>
                  <h4>Casa de Chivilcoy</h4>
                  <p>Built with: <br> HTML & CSS + Bootstrap 5 <br> and JS vanilla.</p>
                  <div class="btn btn-visit">
                    <a href="https://casadechivilcoy.netlify.app/">View site</a>
                  </div>
                  <div class="container__repo">
                    <a href="https://github.com/imnotseneca/casadechivilcoy"><i class="fa-brands fa-github"></i>View repository</a>
                  </div>
                </div>
              </div>
              <div class="project-section-right">
                <div class="project-section-container-right">
                  <div class="project-section-right-image"> 
                      <img src="/img/gsheader.png" alt="Header of webpage project">
                    </a>
                  </div>
                  <h4>GS-flexibility</h4>
                  <p>Built with: <br> HTML & CSS + Bootstrap 5 + AOS <br> and JS vanilla.</p>
                  <div class="btn btn-visit">
                    <a href="https://imnotseneca.github.io/gs-flexibility/">View site</a>
                  </div>
                  <div class="container__repo">
                    <a href="https://github.com/imnotseneca/gs-flexibility"><i class="fa-brands fa-github"></i>View repository</a>
                  </div>
                </div>
                <div class="project-section-right">
                  <div class="project-section-container-right">
                    <div class="project-section-right-image"> 
                        <img src="/img/sbHeader.png" alt="Header of webpage project">
                      </a>
                    </div>
                    <h4>Story-Book</h4>
                    <p>Fullstack CRUD webapp with Node.js, Express, JS, Handlebars, Materialize UI and GoogleOAUTH. Based on <a href="https://github.com/bradtraversy">Traversy Media</a> work.</p>
                    <div class="btn btn-visit">
                      <a href="https://story-book.onrender.com/">View site</a>
                    </div>
                    <div class="container__repo">
                      <a href="https://github.com/imnotseneca/storybook"><i class="fa-brands fa-github"></i>View repository</a>
                    </div>
                  </div>
              </div>
            </div>
          </section>
          <footer class="footer">
            <div class="social__media service-icons">
              <a href="https://www.linkedin.com/in/bruno-corrao/" target="_blank" rel="noreferrer" title="LinkedIn" aria-label="LinkedIn" class="social__media__link"><i class="fa-brands fa-linkedin"></i></a>
              <a href="https://github.com/imnotseneca" target="_blank" rel="noreferrer" title="Github" aria-label="GitHub" class="social__media__link"><i class="fa-brands fa-github"></i></a>
              <a href="https://twitter.com/plasticfaceyoda" target="_blank" rel="noreferrer" title="Twitter" aria-label="Twitter" class="social__media__link"><i class="fa-brands fa-twitter"></i></a>
            </div>
            <p class="copy__right">
              '2023' © All rights reserved
            </p>
          </footer>
    </div>
    <script src="js/main.js"></script> 
    <script src="https://kit.fontawesome.com/be727bc14f.js" crossorigin="anonymous"></script>
</body>
</html>
