<%- include('partials/header') -%>
        <main>
            <section class="home" id="home">
                <div class="home__container" data-aos="fade-down" data-aos-duration="400">
                    <h1 class="home-title">Hi👋! I'm <span class='styled-words'>Bruno Corrao</span>.
                        <br>
                    Fullstack software developer.
                    </h1>
                    <p class="styled__par">Changing the world <span class="styled-words">1 line of code</span> at a time.</p>
                    <a href="/aboutme" class="btn">About me</a>
                </div>
                <div class="home__profile__photo" data-aos="fade-up" data-aos-duration="400">
                    <img src="img/profilepic.png" alt="Profile picture" class="profile__photo">
                </div>
            </section>
        </main>
        <%- include('partials/projects') -%>
        <%- include('partials/footer') -%>
