<%- include('partials/header') -%>
                <main>  
                  <section class="home__contact" id="contact">
                    <div class="home__container">
                        <h1 class="about-title">Email sent!</span>
                        </h1>
                        <p>
                            Thank you for taking time to <span class="styled-words">reach me</span>. I will answering you <span class="styled-words">soon</span>.
                            <br>
                            Hope you are doing well and having great days!
                            <br>
                            Now its time to keep navigating.
                            <br>                            
                        </p>
                    </div>
                    <div class="back-btn">
                        <a href="/" class="btn">Back to home page</a>
                    </div>
                </section>
            </main>
            <%- include('partials/footer') -%>