:root {
    --bg-primary: #463F3A;
    --bg-secondary: #FAEDCD;
    --fc-primary: #FAEDCD;
    --fc-secondary: #E0AFA0;
    --fc-terceary: #ce4257;
    --bc-primary: #212121;
    --ff-primary: 'Poppins', sans-serif;
    --ff-secondary: 'Titillium Web', 'Poppins', sans-serif;
    --fs-icons-nav: 1.4rem;
    --fs-icons: 1.6rem;
    --fs-xl: 1.95rem;
    --fs-400: 1.4rem;
    --fs-200: 1.15rem;
    --fs-100: 1rem;
    --fs-50: 0.725rem;
    --fw-primary: 700;
    --fw-secondary: 400;
}

html {
  scroll-behavior: smooth;
  font-family: var(--ff-secondary) !important;
}

* {
    font-weight: var(--fw-secondary);
    font-size: var(--fw-secondary);
    line-height: 1.65;
    color: var(--fc-primary);
}



ul>li {
    padding-left: 1.5em;
}

li,
a {
  list-style: none;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}

body {
    background: rgb(33,14,22);
    background: linear-gradient(11deg, rgba(33,14,22,1) 0%, rgba(33,33,33,1) 63%);
    /* background: var(--bc-primary); */
    min-height: 100vh;

}

.container {
    margin-inline: auto;
    width: min(90%, 70.5rem);
}

/* HEADER */

header {
    width: 100%;
    background-color: transparent;
  }
  
  .header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--bg-primary);
    font-family: var(--ff-primary);
    font-weight: var(--fw-primary);
    margin: 1em 0 1em 0;
  }
  
  .logo > a {
    font-size: 2rem;
    font-weight: 600;
  }

  i:hover {
    transform: rotate(25deg)
  }

  .btn:hover {
    opacity: 0.8
  }
  
  /* Menu hamburguesa */
  
  .hamburger {
    display: none;
  }
  
  /* NAV BAR */
  
  .nav-bar ul {
    display: flex;
  }
  
  .nav-bar ul li a {
    display: block;
    font-size: var(--fs-200);
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
   
  .border-bot {
    padding: .5em;
  }
  
/* Main container */
  

.home {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    padding: 5em 0 5em 0;
    letter-spacing: .1em;
  }

  .home__container {
    line-height: 2.5em;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 2em;
    font-weight: var(--fw-primary);
  }

  .styled__par {
    margin: 2em 0 2em 0;
  } 
  .styled-words {
    color: var(--fc-terceary);
  }

  .btn {
    background: var(--fc-terceary);
    padding: 1em;
    border-radius: 1em;
  }

  .profile__photo {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.375em;
    box-shadow: 5px 5px 30px -4px var(--fc-primary);
    
}

   i {
    color: var(--fc-terceary);
    transition: transform .2s cubic-bezier(.46,.03,.52,.96);
  }

  /* Responsive del Nav-bar y Main */
  
  @media only screen and (max-width: 900px) {
    .hamburger {
      display: block;
      cursor: pointer;
      border: none;
      background: none;
      width: 46px;
      height: 46px;
    }
  
    .hamburger .line {
      width: 30px;
      height: 3px;
      background: var(--fc-terceary);
      margin: 6px 0;
    }
  
    .hamburger .short-line {
      width: 20px;
    }
  
    .nav-bar {
      height: 0;
      position: absolute;
      top: 103px;
      left: 0;
      right: 0;
      background-color:var(--bg-secondary);
      transition: 0.5s;
      overflow: hidden;
    }
  
    .nav-bar.active {
      min-height: calc(100vh - -60px);
    }
  
    .nav-bar ul {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      padding: 0;
      margin: 0;
      width: 100%;
      height: 90vh;
      color: var(--bc-primary);
    }
  
    .nav-bar.active ul {
      opacity: 1;
    }

    .border-bot {
        font-size: var(--fs-400);
        color: var(--bc-primary);
    }

    .header-flex {
        justify-content: space-between;
    }
    
    .home {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .profile__photo {
        max-width: 50vh;
    }

    .home__container {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 0;
        font-weight: var(--fw-primary);
    }

    .styled__par {
        margin: 1em 0 1em 0;
    }

    .ul>li {
        padding-left: 0;
    }
  }


/* ABOUT ME PAGE */

.about-title {
    text-transform: uppercase;
    
}

.home__about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 5em 0 5em 0;
    letter-spacing: .1em;
    font-size: var(--fs-200);
  }

  .cv-btn {
    width: 30%;
    text-align: center;

  }

  @media only screen and (max-width: 900px) {
    .home__about {
        padding: 0;
    }
  }


/* SERVICES SECTION */

.services {
    padding-top: 2.5em;
}

/* PROJECTS SECTION */

.project-section {
    padding-top: 5em;
    letter-spacing: .1em;
    
}

.project-section h2 {
    display: inline-block;
    color: var(--fc-primary);
    font-size: var(--fs-xl);
    font-weight: var(--fw-primary);
    border-bottom: 0.188rem solid var(--fc-terceary);
    padding-bottom: 0.5em;
}

.project-section-container {
    display: flex;
    margin-top: 3em;
    justify-content: space-between;
    gap: 3em;
    width: 100%;
    height: 100%;
    line-height: 1.6em;
}

.project-section-container h4 {
    color: var(--fc-primary);
    font-size: var(--fs-200);
    font-weight: var(--fw-primary);
}
.project-section-container p {
    color: var(--fc-secondary);
    font-size: var(--fs-200);
    font-weight: var(--fw-secondary);
}

.btn-visit {
    text-align: center;
    width: 30%;
    padding: .8em .5em;
} 

.project-section-container-left, .project-section-container-right {
    padding-bottom: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    max-width: 450px;
    text-align: center;
}

.project-section-left  {
    padding-right: 9.8em;
    border-right: 2px solid var(--bg-secondary);
    padding-bottom: 3.5rem;
}

.project-section-left-image {
    overflow: hidden;

}

.project-section-left-image img {
    width: 100%;
    border-radius: 0.375em;
    transition: 0.2s ease;
}

.project-section-left-image img:hover {
  transform: scale(1.05);
}
.project-section-right-image img:hover {
  transform: scale(1.05);
}


.project-section-right {
    /* padding-right: 2.8em; */
    padding-bottom: 3.5rem;

}

.project-section-right-image {
    overflow: hidden;
}

.project-section-right-image img {
    width: 100%;
    border-radius: 0.375em;
    transition: 0.2s ease;
}

.container__repo:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.container__repo i {
  color: var(--bg-secondary);
  font-size: var(--fs-icons);
  padding-right: .5em;
}

.container__repo a {
  font-family: var(--ff-primary);
  font-size: var(--fs-200);
  padding: .5em 1em;
}


/* Responsive project section */

@media only screen and (max-width: 900px) {
    .project-section {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .project-section h2 {
      text-align: center;
    }


    .project-section-container {
        flex-direction: column;
        align-items: center;
    }
    .project-section-left, .project-section-right {
        border-right: none;
        padding: 0;
    }
    .project-section-container-left {
        border-bottom: 2px solid var(--bg-secondary);
        padding: 2em 0;

    }
    .project-section-left-image img:active {
      transform: scale(1.05);
    }
    .project-section-right-image img:active {
      transform: scale(1.05);
    }
}

/* Services Section */

.service-section {
  padding-top: 2.5em;
}

.service-section-container {
  display: flex;
  margin-top: 4em;
}

.service-section-container-left {
  padding-right: 1rem;
}

.service-section-left, .service-section-right {
  display: flex;
  line-height: 1.5em;
}

.service-icons {
  padding-right: 1.5rem;
  font-size: var(--fs-icons);
}

.service-section h2 {
  display: inline-block;
  color: var(--fc-primary);
  font-size: var(--fs-xl);
  font-weight: var(--fw-primary);
  border-bottom: 0.188rem solid var(--fc-terceary);
  padding-bottom: 0.5em;
}

.service-h4 {
  padding-bottom: 0.8rem;
  color: var(--fc-primary);
  font-size: var(--fs-400);
  font-weight: var(--fw-primary);
}

.service-p {
  padding-bottom: 3.5rem;
  font-size: var(--fs-200);
}

.special-one {
  padding-right: 0.5em;
}

/* Responsive services section */

@media only screen and (max-width: 900px) {
  .service-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .service-section-container {
    flex-direction: column;
  }


}

/* Contact section */

.home__contact {
  display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 5em 0 5em 0;
    letter-spacing: .1em;
    font-size: var(--fs-200);

}

.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #3b3b4f;
}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

input, textarea {
  width: 100%;
  background-color: var(--bg-primary);;
  border: none;
  border-bottom: 1px solid #0a0a23;
  color: var(--fc-primary);
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: var(--bg-primary);
  border-color: white;
  min-width: 300px;
  cursor: pointer;
  text-align: center;
}

input[type="submit"]:hover {
  opacity: 0.6;
}

input[type="file"] {
  padding: 1px 2px;
}


/* Footer */
.footer {
  display: flex;
  max-width: 1500px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  gap: 1rem;
}